<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <%- include('header') %>

    <% for(let i = 0; i < images.length; i++) { %>
    <img src="/images/<%= images[i].filename %>">
    <button id="delete-<%= images[i].id %>">delete</button>
    <% } %>

    <%- include('footer') %>

    <script src="/js/images/images.js" images="<%= JSON.stringify(images.map(image => ({ id: image.id }))) %>"></script>
</body>

</html>
