<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <%- include('header') %>

    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>verified</th>
            <th>roles</th>
            <th>registered</th>
            <th>controls</th>
        </tr>
        <% for(let i = 0; i < users.length; i++) { %>
        <tr>
            <td><%= users[i].id %></td>
            <td><%= users[i].username %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].verified %></td>
            <td><%= users[i].roles %></td>
            <td><%= users[i].createdAt %></td>
            <td>
                <button id="edit-roles-<%= users[i].id %>">edit roles</button>
                <button id="delete-<%= users[i].id %>">delete</button>
            </td>
        </tr>
        <% } %>
    </table>

    <script src="/js/users/users.js"
        users="<%= JSON.stringify(users.map(user => ({ id: user.id, roles: user.roles }))) %>"></script>

    <%- include('footer') %>
</body>

</html>
